@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    font-family: Poppins;
}

html,
body{
    height: 100vh;
    outline: none;
}

.container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.panel{
    width: 45%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #a57d63;
}

.head{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
}

.head h1{
    font: 1.5rem Poppins;
    font-weight: 700;
    color: #083954;
}

.info{
    width: 95%;
    height: 90%;
}

.field{
    width: 99%;
    height: 6.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #000000;
}

.campo{
    width: 30%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.5rem;
    margin-left:0.3rem;
}


.data{
    width: 85%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.5rem;
    font-size: 1.6rem;
    color: #f0f8ff;
    margin-left:1rem;
}

