<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create.css">
    <title>Perfil</title>
</head>


<body>
    <div class="container">
        <div class="header">
            <a href="/perfil"><img src="/images/arrow-back.svg" alt="Voltar"></a>
        </div>
        <div class="dropdown-container">
            <button class="dropdown-button">
                <div class="head">
                    <h1>INFORMAÇÕES DO PERFIL</h1>
                </div>
                <form action="/perfil/create-perfil" method="post" class="createForm">
                    <input type="text" name="name" placeholder="Nome" class="inputField">

                    <input type="text" name="description" placeholder="Descrição" class="inputField">

                    <select name="create" class="inputField">
                        <option value="true">Permissão de criar</option>
                        <option value="false">Não permitir criar</option>
                    </select>

                    <select name="read" class="inputField">
                      <option value="true">Permissão de ler</option>
                      <option value="false">Não permitir ler</option>
                  </select>

                  <select name="update" class="inputField">
                    <option value="true">Permissão de alterar</option>
                    <option value="false">Não permitir alterar</option>
                </select>

                <select name="delt" class="inputField">
                  <option value="true">Permissão de deletar</option>
                  <option value="false">Não permitir deletar</option>
              </select>

                    <button class="btnEnviar" type="submit">Enviar</button>
                </form>
            </button>
        </div>
    </div>
</body>

</html>