<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Artur-Alvim</title>
</head>
<body>
    <div class="container">
        <div class="menu-select">
            <div class="msg">
                <h1>Escolha uma tabela</h1>
            </div>

            <div class="options">
                <a href="/titular">Titulares</a>
                <a href="/filho">Filhos</a>
                <a href="/conjuge">Cônjuges</a>
                <a href="/residente">Residentes</a>
                {% if role == "ROLE-CEO"%}
                    <a href="/usuario">Usuários</a>
                    <a href="/perfil">Perfis</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>