<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menuAcoes.css">
    <title>Menu de Ações</title>
</head>

<body>
    <div class="container">
        <div class="nav-bar">
            <a class="arrow-back" href="{{index_page}}">
                <img src="/images/arrow-back-home.png">
            </a>
        </div>
        <div class="crudOptions">
            <a href="{{create_page}}" class="create">
                <img src="/images/create-icon.svg" alt="imagem-criar">
                Criar
            </a>
            <a href="{{read_page}}" class="read">
                <img src="/images/read-icon.svg" alt="imagem-ler">
                Ler
            </a>
            <a href="{{update_page}}" class="update">
                <img src="/images/update-icon.svg" alt="imagem-editar">
                Editar
            </a>
            <a href="{{delete_page}}" class="delete">
                <img src="/images/delete-icon.svg" alt="imagem-deletar">
                Deletar
            </a>
        </div>
    </div>
</body>

</html>