<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/read.css">
    <title>Informações</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/perfil"><img src="/images/arrow-back.svg" alt="Voltar"></a>
        </div>
        <div class="form">
            <form action="/perfil/read-perfil" method="post" class="finderForm">
                <div class="inputData">
                    <select name="dado" id="">
                        <option value="name">Nome</option>
                        <option value="description">Descrição</option>
                    </select>
                    <input name="value" placeholder="Insira a informação">
                </div>
                <button type="submit">Enviar</button>
            </form>
            <div class="user">
                <div class="field">
                    <h1 class="campo">ID</h1>
                    <label class="data">{{role.id}}</label>
                </div>

                <div class="field">
                    <h1 class="campo">Nome</h1>
                    <label class="data">{{role.name}}</label>
                </div>

                <div class="field">
                    <h1 class="campo">Descrição</h1>
                    <label class="data">{{role.description}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Criar</h1>
                    <label class="data">{{role.create}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Ler</h1>
                    <label for="" class="data">{{role.read}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Update</h1>
                    <label for="" class="data">{{role.update}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Delete</h1>
                    <label for="" class="data">{{role.delt}}</label>
                </div>
            </div>
        </div>


    </div>
</body>

</html>