<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/read.css">
    <title>Informações | Titulares </title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/titular"><img src="/images/arrow-back.svg" alt="Voltar"></a>
        </div>
        <div class="form">
            <form action="/titular/read-titular" method="post" class="finderForm">
                <div class="inputData">
                    <select name="dado" id="">
                        <option value="nome">Nome</option>
                        <option value="rg">RG</option>
                        <option value="cpf">CPF</option>
                        <option value="nis">NIS</option>
                        <option value="cnpjCtps">CNPJ/CTPS</option>
                    </select>
                    <input name="value" placeholder="Insira a informação">
                </div>
                <button type="submit">Enviar</button>
            </form>
            <div class="user">
                <div class="field">
                    <h1 class="campo">ID</h1>
                    <label for="" class="data">{{dados.id}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Nome</h1>
                    <label for="" class="data">{{dados.nome}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">CPF</h1>
                    <label for="" class="data">{{dados.cpf}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">RG</h1>
                    <label for="" class="data">{{dados.rg}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">NIS</h1>
                    <label for="" class="data">{{dados.nis}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Endereço</h1>
                    <label for="" class="data">{{dados.endereco}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Modalidade</h1>
                    <label for="" class="data">{{dados.modeloDeTrabalho}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">CNPJ/CTPS</h1>
                    <label for="" class="data">{{dados.cnpjCtps}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Renda</h1>
                    <label for="" class="data">{{dados.renda}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Idade</h1>
                    <label for="" class="data">{{dados.idade}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Situação</h1>
                    <label for="" class="data">{{dados.situacao}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Cel</h1>
                    <label for="" class="data">{{dados.cel}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Email</h1>
                    <label for="" class="data">{{dados.email}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Representante</h1>
                    <label for="" class="data">{{dados.representante}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Etd. Civil</h1>
                    <label for="" class="data">{{dados.estadoCivil}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Filho</h1>
                    <label for="" class="data">{{dados.filho.nome}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Residentes</h1>
                    <label for="" class="data">{{dados.residente.nome}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Conjuges</h1>
                    <label for="" class="data">{{dados.conjuge.nome}}</label>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>