<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newUser.css">
    <title>Artur Alvim | Novo Usuário</title>
</head>

<body>
    <div class="container">
        <div class="panel">
            <div class="head">
                <h1>Novo residente cadastrado!</h1>
            </div>
            <div class="info">
                <div class="field">
                    <h1 class="campo">ID</h1>
                    <label for="" class="data">{{dados.id}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Nome</h1>
                    <label for="" class="data">{{dados.nome}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">CPF</h1>
                    <label for="" class="data">{{dados.cpf}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">RG</h1>
                    <label for="" class="data">{{dados.rg}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Modalidade</h1>
                    <label for="" class="data">{{dados.modeloDeTrabalho}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">CNPJ/CTPS</h1>
                    <label for="" class="data">{{dados.cnpjCtps}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Renda</h1>
                    <label for="" class="data">{{dados.renda}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Idade</h1>
                    <label for="" class="data">{{dados.idade}}</label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>