<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newUser.css">
    <title>Novo perfil</title>
</head>

<body>
    <div class="container">
        <div class="panel">
            <div class="head">
                <h1>Novo perfil cadastrado!</h1>
            </div>
            <div class="info">
                <div class="field">
                    <h1 class="campo">ID</h1>
                    <label for="" class="data">{{role.id}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Nome</h1>
                    <label for="" class="data">{{role.name}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Descrição</h1>
                    <label for="" class="data">{{role.description}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Criar</h1>
                    <label for="" class="data">{{role.create}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Ler</h1>
                    <label for="" class="data">{{role.read}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Alterar</h1>
                    <label for="" class="data">{{role.update}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Deletar</h1>
                    <label for="" class="data">{{role.delt}}</label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>