<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newUser.css">
    <title>Novo Usuário</title>
</head>

<body>
    <div class="container">
        <div class="panel">
            <div class="head">
                <h1>Novo usuário cadastrado!</h1>
            </div>
            <div class="info">
                <div class="field">
                    <h1 class="campo">ID</h1>
                    <label for="" class="data">{{user.id}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Nome</h1>
                    <label for="" class="data">{{user.name}}</label>
                </div>
                <div class="field">
                    <h1 class="campo">Email</h1>
                    <label for="" class="data">{{user.email}}</label>
                </div>
                <div class="field">
                  <h1 class="campo">Senha</h1>
                  <label for="" class="data">{{user.password}}}</label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>