<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/update.css">
    <title>Update</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/perfil"><img src="/images/arrow-back.svg" alt="Voltar"></a>
        </div>
        <div class="form">
            <div class="head">
                <h1>NOVOS DADOS DO PERFIL</h1>
            </div>
            <form action="/perfil/update-perfil" method="post" class="finderForm">
                <div class="inputData">
                    <input class="inputOld" name="nome" placeholder="Insira o nome da role">
                    <select name="dado" id="">
                        <option value="name">Nome</option>
                        <option value="description">Descrição</option>
                        <option value="create">Criar</option>
                        <option value="read">Ler</option>
                        <option value="delt">Deletar</option>
                        <option value="update">Alterar</option>
                    </select>
                    <input class="inputValue" name="value" placeholder="Insira o novo dado">
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>

</html>